<header id="Header">
    <div class="main_header inner_page">
        <div class="top_nav" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="~/asset/images/logo.png" alt="Crave Ordering"></a>
                        </div>
                        <div class="nav_manu">
                            <div class="Menu_list">
                                <ul class="menu">
                                    <li><a asp-controller="Home" asp-action="Index" class="trans hvr-underline-from-left">Home</a></li>
                                    <li><a asp-controller="Home" asp-action="About" class="trans">About</a></li>
                                    <li><a asp-controller="Home" asp-action="Menu" class="trans">Order</a></li>
                                    @if (CurrentUser is null)
                                    {
                                        <li><a asp-controller="Account" asp-action="Login" class="trans">Login</a></li>
                                    }
                                    else
                                    {
                                    <li><a asp-controller="Account" asp-action="Login" class="trans">Logout</a></li>
                                    }
                                    <li><a asp-controller="Account" asp-action="Login" class="trans">Register</a></li>
                                </ul>
                            </div>
                            <div class="Cart">
                                <a asp-controller="Cart" asp-action="Index" title="Cart">
                                    <span class="Cart_count">Cart : (0) $00.00 <span class="noti_Counter"></span> </span>
                                    <img class="cart_img" src="~/asset/images/cart_1.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
        </button>
        <div class="H_banner">
            <div class="main_pitch">
                <h1 class="page_title">My Cart</h1>
            </div>
        </div>
    </div>
    <div class="device">
        <nav class="main-nav" id="main-nav">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="~/asset/images/logoBlack.png" alt="Crave Ordering"></a>
            </div>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Menu"> Order</a></li>
                <li><a asp-controller="Home" asp-action="Login">Login</a></li>
                <li><a asp-controller="Home" asp-action="Login">Register</a></li>
            </ul>
        </nav>
    </div>
</header>