 <!-- popular our food start here -->
<section>
    <div class="popular">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_popular">
                        <h2 class="title">Popular Our Food</h2>
                        <p class="desc">
                            Choose from over 30 craveable toppings to make your perfect Food.
                            <br> Don’t love what you ordered? Let us know. We’re all about second chances.
                        </p>
                        <div class="p_card">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>

                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img1.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Mexican Pizza</h3>
                                                    <p class="desc">Our standard “Mexican” is loaded</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 10.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img2.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Broadway</h3>
                                                    <p class="desc">Double Bacon Cheese Burger, Lettuce. </p>
                                                    <div class="price_block">
                                                        <div class="price">$ 9.89</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img3.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Garbage Salad</h3>
                                                    <p class="desc">Everything includes, tuscan spring mix </p>
                                                    <div class="price_block">
                                                        <div class="price">$ 4.10</div>
                                                        <a href="#" class="card_btn">
                                                            Add to cart
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img4.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Cheese Fries</h3>
                                                    <p class="desc">Our fries are prepared in batches</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 4.79</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img5.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Coca-Cola</h3>
                                                    <p class="desc">Coca-Cola is the most popular drink</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 10.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img2.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Garlic Bread</h3>
                                                    <p class="desc">Butter, olive oil, garlic, crusty bread</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 5.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img3.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Red Sauce Pasta</h3>
                                                    <p class="desc">Red tomato sauce with mix veggies.</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 8.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="asset/images/pro_img4.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Schezwan Sandwich</h3>
                                                    <p class="desc">Spicy vegetables and schezwan sauce</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 3.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular our food start here -->